@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Oswald:wght@300;400;500;600;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #1b1c2a;
}

h1 {
    color:#9e379f;
    font-size: 11.5em;
}

.menu {
    display: flex;
    flex-direction: column;
}

.container_header {
    display: flex;
    position:absolute;
    left: 12%;
    top: 14%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.navbar-menu {
    display: flex;
    position:absolute;
    left: 28%;
    top: 25px;
    font-weight: 200;
    font-size: 18px;
}

.navbar-nav {
    display: flex;
}

.nav-header {
    display: flex;
    padding: 10px 20px;
    color: #fff;
    list-style: none;
}

.login-form {
    display: flex;
    position:absolute;
    right: 10%;
    top: 17%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px;
    background-color: #fff;
    border-radius:3px;
}

.username,
.password {
    background-color: #fff;
}

form {
    display: flex;
    color: #fff;
}

input {
    margin: 20px 10px;
    padding: 10px 15px;
    border: 0.5px solid #9e379f;
    background-color: #fff;
    border-radius:2px;
    color: #fff;
}

label {
    padding:0 10px;
    background-color: #fff;
    color: #9e379f;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#9e379f;
    color: #fff;
    padding: 10px 100px;
}

.button:hover {
    background-color: #fff;
    color: #9e379f;
}

.g-recaptcha {
    margin: 25px 0;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #9e379f;
}

.slogan {
    color: #fff;
    font-size: 26px;
}

button {
    padding:10px 40px;
    border: 0.3px solid #fff;
    border-radius: 3px;
    margin-top: 65px;
    color: #9e379f;
    font-size: 16px;
}

button:hover {
    background-color: #9e379f;
    border-color: #9e379f;
    color: #fff;
}

#btn {
    cursor: not-allowed;
    padding:10px 100px;
    border: 0.3px solid #fff;
    border-radius: 3px;
    background-color: #9e379f;
    color: #fff;
    font-size: 16px;
}

#btn:hover {
    background-color: #fff;
    border: 1px solid #9e379f;
    color: #9e379f;
}

#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    opacity: 1;
    background-color: #eaebe8;
    text-align: center;
    transition: opacity .8s ease;
}

#consent-popup .hidden {
    opacity: 0;
}

#consent-popup p{
    background-color: #eaebe8
    ;
}

#consent-popup a {
    background-color: #eaebe8;
    color: #9e379f;
}

#consent-popup a:hover {
    color: blue;
}
